.bannerTop {
  position: relative; 
  margin: 0 auto;
  width: 100%;
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(0, 111, 180, 0.8);
  color: #fff;
  width: 33%;
  padding: 4% 20px;
  overflow: hidden;
}

.bannerText {
	font-size: 45px;
  line-height: 50px;
}

@media (max-width: 1200px) {
	.bannerText {
		font-size: 38px;
		line-height: 36px;
	}
}

@media (max-width: 774px) {
	.bannerText {
		font-size: 30px;
		line-height: 30px;
	}
}

@media (max-width: 989px) {
  .content {
  	position: relative;
  	width: 100%;
  }
}

/*Search box*/
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
  margin-top: 10px;
}

#pac-input:focus {
  border-color: #4d90fe;
}