body {
	background-image: url("../images/register-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

main {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.trans-bg {
  background: rgba(255, 255, 255, 0.7);
  line-height: normal;
}

.claimform {
	background-color: #f8f8f8;
	border: 1px solid #f5f5f5;
}