/* Products */

main {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

#trans-bg {
  background: rgba(255, 255, 255, 0.5);
  line-height: normal;
}

.bgray {
  background-color: #e0e0e0;
  border-radius: .125rem;
}

.jumbotron {
  background-image: url("../images/products-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 392px) {
  .btn-responsive {
  	padding: 0.5rem 1.4rem;
    font-size: 0.64rem;
    font-size: 0.7rem;
  }
}